.end-body {
  display: flex;
  flex-direction: column;
}

.end-top {
  font-size: x-large;
}

.end-details {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 20vh;
}

.end-bottom {
  margin-top: 10rem;
  display: flex;
  justify-content: space-evenly;
}

